@page "/BookDetails/{Id:int}"
@inherits BookDetailsBase

@if (BookAuthor == null && ErrorMessage == null)
{
    <h3>Loading book details...</h3>
}
else if (ErrorMessage != null)
{
    <h3 class="text-danger">@ErrorMessage</h3>
}
else
{
    <h3 class="mb-5">Book Details</h3>
    <div class="row">
        <div class="col-md-4">
            <img style="height: 90%; width: 100%;" src="@BookAuthor.ImageUrl"/>
        </div>
        <div class="col-md-6">
            <h3>@BookAuthor.Title</h3>
            <p class="mb-4">@BookAuthor.Description</p>
            <p class="mb-4">
                <b>
                    @BookAuthor.Price.ToString("C")
                </b>
            </p>
        </div>
    </div>
}