@using System.Globalization
@inherits DisplayBooksBase

@foreach (var item in BookAuthors)
{
    <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
        <a href="/BookDetails/@item.Id">
            <div class="book-img">
                <img src="@item.ImageUrl" class="card-img-top" alt="">
            </div>
            
            <div class="book-content">
                <div>
                    <h3 class="card-title">@item.Title</h3>
                </div>
                <div class="author-container">
                    <h5>@item.AuthorName</h5>
                    <p>@item.Rating</p>
                </div>
                <div class="price">
                    @item.Price.ToString("C", CultureInfo.GetCultureInfo("en-ZA"))
                </div>
                <div>
                    <button class="btn btn-success"><b>Add To Cart</b></button>
                </div>
            </div>
        </a>
    </div>
}